<div class="container-fluid">
    <div class="row no-gutter">
        {% for event in site.data.index.fotos %}
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box">
                    <img src="/static/assets/img/{{ event.src }}" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-Beschrijving text-faded">
                                Beschrijving
                            </div>
                            <div class="project-name">
                                {{ event.beschrijving }}
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
</div>
