<section class="bg-primary" id="links">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Hieronder staan links naar andere interessante websites en naar degenen die de Cornelia al hebben gesteund.</h2>
                <hr class="light">
                <p class="text-faded paragraph-text">Zoek ze eens op!</p>
                <a href="https://www.lvbhb.nl" target="_blank" class="btn btn-default btn-xl" id="gfm-button">Het Historisch Bedrijfsvaartuig</a>
            </div>
        </div>
    </div>
</section>
