<section class="no-padding" id="fotos">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/1.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-Beschrijving text-faded">
                                Beschrijving
                            </div>
                            <div class="project-name">
                                Kijk wat een mooi bootje!
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/2.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-Beschrijving text-faded">
                                Beschrijving
                            </div>
                            <div class="project-name">
                                Een vroege zondagmorgend op een mistig meer
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/3.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-Beschrijving text-faded">
                                Beschrijving
                            </div>
                            <div class="project-name">
                                De Cornelia probeert die auto het water in te slepen!
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/4.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-Beschrijving text-faded">
                                Beschrijving
                            </div>
                            <div class="project-name">
                                Een bewonderend toeschouwer van dit mooie bootje!
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/5.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-Beschrijving text-faded">
                                Beschrijving
                            </div>
                            <div class="project-name">
                                Zo, mooi geschilderd toch!?
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/6.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-Beschrijving text-faded">
                                Beschrijving
                            </div>
                            <div class="project-name">
                                De schipper in zijn natuurlijk habitat
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
