<section class="bg-primary" id="gofundme">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Help jij bootje Cornelia?</h2>
                <hr class="light">
                <p class="text-faded">Wil je meehelpen dit mooie bootje verder te restaureren? Ga dan naar deze GofFundMe pagina en kijk wat er allemaal op het schema staat!</p>
                <a href="https://www.gofundme.com/bootje-cornelia" target="_blank" class="btn btn-default btn-xl">GoFundMe!</a>
            </div>
        </div>
    </div>
</section>
