<section class="bg-primary" id="gofundme">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Hoi Peter</h2>
                <hr class="light">
                <p class="text-faded">
                  Nou moet er misschien nog wat aan deze site gebeuren
                  <br />
                  Dus laten we het samen binnenkort een beetje opfleuren
                  <br />
                  Kijk eerst voor het laatste deel van dit cadeautje
                  <br />
                  nog even onder het bed in de slaapkamer van je bootje,
                </p>
            </div>
        </div>
    </div>
</section>
